/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

html {
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-color: #D4A76A;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 300;
}

#banner {
    background-color: #FFDBAA;
    height: 180px;

}

#banner h1 {
    padding: 20px;
    color:#553100;
    font-size: 26pt;
    position: relative;
}

#banner ul {
    list-style: none;
    float: right;
    margin: 20px;
    padding: 5px;
}

#banner li {
    background-color: #805215;
    font-weight: bolder;
    display: inline;
    padding: 2em;
}

#content {
    position: relative;
    margin-top: 10px;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
}

#content h1 {
    text-align: center;
}

#content p {
    text-justify: justify;
    font-weight: bold;
}

#link-button {
    background-color: #805215;
    font-weight: bold;
    padding: 1em;
    text-align: center;
    border: 1px solid #000000;
}

#about-us {
    position: relative;
    background-color: #FFFFFF;
    padding: 40px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

#about-us h1 {
    text-align: center;
}

#about-us p {
    text-justify: justify;
    font-weight: bold;
}

.column1, .column2, .column3 {
    width: 280px;
    height: 200px;
    float: left;
    margin: 100px;
    padding: 40px;
    background-color: #FFFFFF;
}